<div class="side-nav">
    <div class="menu">
        <div class="content">
          <div class="sub-menu cursor-pointer"
               routerLinkActive="active-dashboard"
               [routerLink]="['home']">
            <a class="mat-menu-item custom-mat-menu-item child-item">
            <mat-icon aria-hidden="false">home</mat-icon>
              <p class="text-menu">Home</p>
            </a>
          </div>
    
          <mat-expansion-panel class="custom-mat-expansion-panel balance-menu"
                               [expanded]="currentLink === 'games'"
                               #games="matExpansionPanel"
                               [ngClass]="{ 'is-expanded': games.expanded }">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a [ngClass]="{ 'is-text-white': games.expanded }"
                   class="mat-menu-item custom-mat-menu-item child-item"
                   routerLinkActive="is-active"
                   [routerLinkActiveOptions]="{ exact: true }">
                   <mat-icon aria-hidden="false">games</mat-icon>
                  <p>Games</p>
                </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <!-- <ng-container *ngFor="let wallet of applicationWalletSort">
              <div class="child-menu cursor-pointer"
                   routerLinkActive="active-page"
                   [routerLink]="[
                  wallet.applicationWalletName.toLowerCase() + '/balance'
                ]"
                   [queryParams]="{ selectedWallet: wallet.applicationWalletId }">
                <a class="mat-menu-item custom-mat-menu-item has-border-bottom">
                  <span class="wallet text-white">
                    {{
                      "sidenav." + wallet.applicationWalletName | translate
                    }}</span>
                </a>
              </div>
            </ng-container> -->
          </mat-expansion-panel>
          
          <div class="sub-menu cursor-pointer"
            routerLinkActive="active-dashboard"
            [routerLink]="['pokemons']">
            <a class="mat-menu-item custom-mat-menu-item child-item">
              <mat-icon>videogame_asset</mat-icon>
              <p class="text-menu">Pokemons</p>
            </a>
          </div>

        </div>
      </div>
</div>
