.side-nav {
    margin-left: 19px;
    margin-right: 15px;
    mat-icon {
      color: #3588f3;
    }
  
    .text-menu {
      color: #212429;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      margin: 0px;
    }
    .active-dashboard, .is-active, .active-page {
      .text-menu {
        color: #ffffff;
      }
      mat-icon {
        color: #ffffff;
      }
    }
    .mat-expanded {
      &.is-expanded {
        background-color: #599cf2;
      }
      mat-icon {
        color: #ffffff;
      }
    }
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
  
    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      &:hover {
        background-color: #2973d3;
        .mat-menu-item, .text-menu {
          color: #ffffff;
        }
        mat-icon {
          color: #ffffff;
        }
      }
  
    }
    .mat-expansion-panel-header {
      height: auto;
      padding: 1rem 0;
    }
  }
  .logo {
    height: 106px;
    width: 100%;
    img {
      margin: 0 auto;
      cursor: pointer;
    }
  }
  
  .menu {
    background: #ffffff;
    border-radius: 10px;
    margin: 3rem auto;
  
    .content {
      .content {
        .sub-menu {
          margin-bottom: 0.5rem;
        }
  
        .mat-menu-item {
          color: #e1e5ea;
  
          mat-icon {
            margin-right: 1rem;
            // color: #3588f3;
          }
        }
  
        a:hover,
        a:focus {
          background: #2c3344;
        }
  
        .mat-expansion-panel {
          box-shadow: none;
          border-radius: 0;
          background-color: #0f172a;
  
          a {
            padding-left: 3.5rem;
          }
  
          mat-panel-title {
            .mat-menu-item {
              padding: 0;
            }
          }
  
          // .mat-expansion-panel-header {
          //   padding: 0 !important;
          //   height: 50px;
  
          //   mat-panel-title {
          //     padding: 1rem;
          //   }
  
          //   &:hover {
          //     background: #2c3344;
          //   }
          // }
  
          &.is-small {
            width: 56px;
  
            .mat-menu-item {
              mat-icon {
                margin-right: 0;
              }
            }
  
            mat-panel-title {
              margin-right: 0;
  
              .mat-menu-item {
                mat-icon {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  
  :host ::ng-deep {
    .mat-expansion-panel {
      border-radius: 0;
      padding-right: 1rem;
    }
    .mat-expansion-panel-header {
      padding: 0;
    }
    mat-icon {
      width: 21px;
      height: 21px;
    }
  
    .child-item {
      padding: 0;
      display: flex;
      align-items: center;
  
      p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 23px;
        padding-left: 23px;
         margin: 0px;
      }
  
      border-color: white !important;
    }
  
    .is-expanded.custom-mat-expansion-panel {
      .mat-expansion-indicator::after {
        color: white !important;
        border-color: white !important;
      }
      .child-menu {
        &:hover {
          background-color: #2973d3;
          .text-menu {
            color: #ffffff;
          }
          mat-icon {
            color: #ffffff;
          }
        }
        .wallet{
          padding-right: 30px;
        }
      }
    }
  
    .sub-menu {
      &:hover {
        background-color: #2973d3;
        .text-menu {
          color: #ffffff;
        }
        mat-icon {
          color: #ffffff;
        }
      }
    }
  }
  
  .sub-menu {
    height: 64px;
    display: flex;
    align-items: center;
  }
  
  .content a:hover {
    background-color: transparent !important;
  }
  .wallet {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 43px;
    display: inline-block;
  }
  
  .active-page {
    background: #2973d3 !important;
  }
  .active-dashboard {
    background: #2973d3 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .child-menu {
    padding: 1rem 0;
  }
  
  a {
    padding-left: 1rem;
  }
  .mat-menu-item {
    padding-left: 1rem;
  }
  
  .is-text-white {
    color: white !important;
  }
  
  .active-dashboard p {
    color: white;
  }
  