<div class="side-nav">
    <div class="menu">
        <div class="content">
          <div class="sub-menu cursor-pointer"
               routerLinkActive="active-dashboard"
               [routerLink]="['home']">
            <a class="mat-menu-item custom-mat-menu-item child-item">
            <mat-icon aria-hidden="false">home</mat-icon>
              <p class="text-menu">Home</p>
            </a>
          </div>
          
          <div class="sub-menu cursor-pointer"
            routerLinkActive="active-dashboard"
            [routerLink]="['pokemons']">
            <a class="mat-menu-item custom-mat-menu-item child-item">
              <mat-icon>videogame_asset</mat-icon>
              <p class="text-menu">Pokemons</p>
            </a>
          </div>

        </div>
      </div>
</div>
