.mat-toolbar {
  background-color: #ef5350;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 999999;
  /* Ensure that your app's content doesn't overlap the toolbar */

  .pokemon-logo {
    margin-left: 50px;
    height: 50px;
    width: 150px;
  }

  .menu-header {
    width: 100%;
  }

}

@media only screen and (max-width: 500px) {
  .mat-toolbar {
    display: table;
    padding: 20px;
    text-align: center;
  }

  .pokemon-logo {
    display: none;
  }

}
