<div class="home-page w-full h-full p-4">
  <carousel class="video-trailer" [autoplay]="true" [dots]="true" [cellsToShow]="3">
    <div class="carousel-cell" *ngFor="let video of slides; let index = index">
      <iframe class="h-full" [src]="video | safe: 'resourceUrl'" [cachedSrc]="video" frameborder="0" allowfullscreen></iframe>
    </div>
  </carousel>

  <div class="mt-8 p-4 grid grid-cols-10" *ngIf="pokemons?.length > 0">
    <ng-container *ngFor="let pokemon of pokemons; let i = index">
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </ng-container>
  </div>

  <div class="flex justify-end">
    <a class="p-4 pointer" routerLink="/pokemons">See more</a>
  </div>


  <div class="mt-8 p-4 grid grid-cols-10" *ngIf="pokemons?.length > 0">
    <ng-container *ngFor="let item of items; let i = index">
      <app-pokemon-card [pokemon]="item" [isItem]="true"></app-pokemon-card>
    </ng-container>
  </div>
</div>
